body {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

/*хедер*/
/* хедр верх */

.main-header {
  width: 1200px;
  min-height: 320px;
  background-color: #f4f7f9;
}

.navigation {
  width: 1200px;
  height: 42px;
  padding-top: 14px;
  padding-left: 130px;
  background-color: #293449;
}

/* .container-header {
  display: flex;
} */

.container-header a {
  width: 220px;
  height: 47px;
  padding-top: 13px;
  /* padding-left: 55px; */
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  display: block;
}

.container-header a:hover,
.container-header a:focus {
  background-color: #ca2c37;
}

.main-header-logo {
  text-align: center;
}

.container-header p {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.make-order-button {
  width: 150px;
  height: 42px;
  background-color: #63a63e;
}

.make-order-button:hover,
.make-order-button:focus {
  background-color: #5fbb2d;
}

/* хедер центр */

h1 {
  width: 196px;
  height: 60px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
  background-color: #f4f7f9;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.contacts-header .phone-number {
  width: 264px;
  height: 39px;
  font-size: 21px;
  line-height: 21px;
  text-align: left;
  color: #ee3643;
  background-color: #f4f7f9;
  border: 3px solid #ffffff;
}

.contacts-header .address {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425c;
  background-color: #f4f7f9;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.user-navigation a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

/* хедер навигация */

.main-navigation .site-navigation {
  width: 940px;
  min-height: 60px;
  margin: 0 auto;
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c; 
}

.main-navigation .site-navigation a {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #32425c;
}

/*майн*/
/* майн низ */

.about-company h2,
.contacts h2 {
  font-size: 30px;
  line-height: 30px;
}

.about-company a,
.contacts a {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
}

.about-company p,
.contacts p {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;
}

/*футер*/

.main-footer {
  width: 1200px;
  height: 300px;
  font: inherit;
  background-color: #32425c;
}

.container-footer a  {
  width: 220px;
  height: 68px;
  padding-top: 20px;
  padding-left: 41px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  display: block;
}

.main-footer-logo {
  width: 138px;
  height: 23px;
}

.site-navigation,
.site-info {
  list-style: none;
}

.site-navigation a {
  color: #f1f5f7;
  background-color: #32425c;
}

.contacts-footer .phone-number,
.contacts-footer .address {
  color: #f3f7f9;
  background-color: #32425c;
}

.site-info a {
  color: #ffd180;
  background-color: #32425c;
}

.bottom-footer {
  width: 1200px;
  height: 107px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.container p {
  color: #ffffff;
}

.social {
  list-style: none;
}

.social-button {
  color: #ffffff;
}

.footer-feedback a,
.footer-copyright a {
  color: #ffd180;
}