body {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
input[type="search"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.inner-page {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

/*хедер*/
/* хедр верх */

.main-header {
  background-color: #f4f7f9;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}

.navigation {
  width: 100%;
  background-color: #293449;
  margin-bottom: 45px;
}

.navigation .container {
  display: flex;
  justify-content: space-between;
}

.main-header-logo {
  position: relative;
  width: 220px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  margin-bottom: -5px;
}

.main-header-logo img {
  position: absolute;
  top: 13px;
  left: 55px;
  width: 109px;
  height: 19px;
}

.main-header-logo:hover,
.main-header-logo:focus {
  background-color: #ca2c37;
}

.main-header-logo:active {
  background-color: #ba2732;
}

.make-order {
  width: 720px;
  display: flex;
  flex-wrap: wrap;
}

.make-order p {
  padding: 0;
  margin: 0;
  width: 150px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.make-order p:nth-child(1) {
  width: 270px;
}

.make-order a {
  position: relative;
  display: block;
  vertical-align: middle;
  font-size: 17px;
  line-height: 18px;
  padding: 14px 45px;
  color: #ffffff;
  white-space: nowrap;
  background-color: #293449;
}

.make-order-button a {
  padding-left: 20px;
  background-color: #63a63e;
}

.make-order a::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 17px;
  height: 17px;
  opacity: 0.3;
}

.make-order-button a::before {
  display: none;
}

.make-order p:nth-child(1) a::before {
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.make-order p:nth-child(2) a::before {
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.make-order p:nth-child(3) a::before {
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.make-order a:hover,
.make-order a:focus {
  background-color: #212a3a;
}

.make-order a:active {
  background-color: #161d29;
  opacity: 0.6;
}

.make-order p a:hover::before,
.make-order p a:focus::before {
  opacity: 1;
}

.make-order-button a:hover,
.make-order-button a:focus {
  background-color: #5fbb2d;
}

.make-order-button a:active {
  background-color: #518534;
  opacity: 0.5;
}

/* хедер центр */

.header-information {
  display: flex;
  flex-direction: column;
}

.header-information-middle {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 35px;
}

.site-title {
  width: 200px;
  min-height: 75px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  margin: 0;
  margin-left: auto;
  color: #ee3643;
  background-color: #f4f7f9;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.contacts-header {
  width: 270px; 
  margin-left: 60px;
}

.contacts-header p {
  margin: 0;
  padding: 0;
}

.contacts-header .phone-number {
  position: relative;
  font-size: 21px;
  line-height: 21px;
  text-align: left;
  padding: 9px 44px 9px 70px;
  color: #ee3643;
  background-color: #f4f7f9;
  border: 3px solid #ffffff;
}

.contacts-header .phone-number::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 15px;
  width: 21px;
  height: 21px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.contacts-header .address {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425c;
  background-color: #f4f7f9;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.user-navigation {
  display: flex;
  justify-content: flex-end;
  width: 300px;
  margin: 0;
  margin-left: 10px;
}

.user-navigation li {
  padding: 12px 25px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.user-navigation li {
  width: 150px;
}

.user-navigation li:nth-child(1) {
  width: 120px;
  position: relative;
  padding-left: 50px;
  margin-right: 10px;
}

.login-link-enter a {
  position: relative;
}

.login-link-enter a svg {
  position: absolute;
  top: 4px;
  left: -35px;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.login-link-enter a:hover path,
.login-link-enter a:focus path {
  fill: #000000;
}

.user-navigation a:active {
  opacity: 0.3;
}

/* хедер каталога */

.user-id {
  width: 300px;
  margin-left: 50px;
  /* outline: 5px dotted red; */
}

.username {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: #ffffff;
}

.username a {
  display: flex;
  margin: 0;
  margin-left: 13px;
  padding: 0;
}

.username svg {
  position: absolute;
  top: 15px;
}

.username a:last-child {
  margin-right: 32px;
}

.username:hover path,
.username:focus path {
  fill: #000000;
}

.username:active path,
.username a:active {
  opacity: 0.3;
}

.username p {
  margin: 0;
  padding: 14px 0 11px 47px;
  color: #000000;
  background-color: #ffffff;
}

.username .logout {
  margin-right: 10px;
}

.user-id .button {
  margin-left: 10px;
  font: inherit;
  text-align: center;
  color: #32425c;
  vertical-align: middle;
  background-color: #f4f7f9;
  text-decoration: underline;
  border: none;
}

.user-id .button:hover,
.user-id .button:focus {
  color: #ee3643;
}

.user-id .button:active {
  opacity: 0.3;
}

/* хедер навигация */

.main-navigation .site-navigation {
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  margin-bottom: 60px;
}

.site-navigation a {
  display: block;
  padding: 20px 30px;
  vertical-align: middle;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #32425c;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449; 
}

.site-navigation a:active {
  opacity: 0.5;
}

.site-navigation a:active {
	
}

/*майн главной*/
/* майн низ */

.about-company h2,
.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 38px;
}

.about-company a,
.contacts a {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
}

.about-company p,
.contacts p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  margin-bottom: 36px;
  color: #000000;
  background-color: #ffffff;
}

.about-company li {
  font-size: 18px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  /* outline: 5px dotted red; */
}

.main-content .container {
  padding-top: 80px;
  padding-bottom: 85px;
  display: flex;
  justify-content: space-between;
}

.about-company {
  width: 540px;
}

.about-company p:nth-child(3) {
  margin-bottom: 27px;
}

.delivery-company {
  margin-bottom: 37px;
}

.delivery-company .button {
  margin-bottom: 86px;
}

.about-company .button,
.contacts-modal-map .button {
  display: inline-block;
  padding: 13px 40px; 
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ee3643;
  border: none;
  border-radius: 3px;
}

.modal-map p {
  margin-bottom: 30px;
}

.modal-map .button {
  padding: 13px 61px;
}

/*майн каталога*/

.inner-page .container {
  display: flex;
  flex-direction: column;
  outline: 5px dotted red;
}

.breadcrumbs {
  font: inherit;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  width: 380px;
  margin-bottom: 20px;
  display: flex;
  /* outline: 5px dotted red; */
}

.breadcrumbs li:nth-child(1) {
  width: 100px;
  /* outline: 5px dotted red; */
}

.breadcrumbs li:nth-child(2) {
  width: 120px;
  /* outline: 5px dotted red; */
}

.breadcrumbs li:nth-child(3) {
  width: 150px;
  margin-right: auto;
  /* outline: 5px dotted red; */
}

.breadcrumbs a {
  color: #000000;
  background-color: #ffffff;
}

.inner-page h1 {
  font-family: "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  width: 910px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  margin-bottom: 20px;
  color: #32425c;
  background-color: #f2f6f8;
  /* outline: 5px dotted red; */
}

.filters-catalog-wrapper {
  width: 940px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* outline: 5px dotted red; */
}

.filters {
  width: 220px;
  /* outline: 5px dotted red; */
}

.catalog {
  width: 700px;
  /* outline: 5px dotted red; */
}

/*фильтр*/

.filter-form li {
  list-style: none;
}

.filters h2 {
  text-transform: uppercase;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-form label {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-form button {
  font: inherit;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

/*карточки товаров*/

.catalog-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  /* outline: 5px dotted red; */
}

.catalog-list li {
  list-style: none;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  /* outline: 5px dotted red; */
}

.catalog-list li:nth-child(3n) {
  margin-right: 0;
}

.buy,
.to-bookmarks {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.buy {
  color: #ffffff;
  background-color: #63a63e;
  box-shadow: inset 0px -3px 0 0 #367315;
}

.to-bookmarks {
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.catalog-category {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.catalog-item-price {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

.old-price {
  text-decoration: line-through;
  color: #999999;
  background-color: #ffffff;
}

.current-price {
  color: #ffffff;
  background-color: #ee3643;
}

/*футер*/

.main-footer {
  font: inherit;
  background-color: #32425c;
}

.top-footer {
  display: flex;
  flex-direction: column;
}

.logo-with-site-navigation-footer {
  margin-bottom: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.main-footer-logo {
  position: relative;
  width: 220px;
  min-height: 68px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.main-footer-logo img {
  position: absolute;
  top: 20px;
  left: 41px;
  width: 138px;
  height: 23px;
}

.site-navigation-footer,
.site-info {
  list-style: none;
}

.site-navigation-footer {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 40px;
  width: 550px;
}

.site-navigation-footer a {
  width: 80px;
  color: #f1f5f7;
  background-color: #32425c;
}

.site-navigation-footer a:hover,
.site-navigation-footer a:focus {
  text-decoration: underline;
}

.site-navigation-footer a:active {
  opacity: 0.5;
}

.contacts-footer-site-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.contacts-footer {
  width: 330px;
}

.contacts-footer p {
  margin: 0;
}

.site-info {
  display: flex;
  justify-content: space-between;
  width: 540px;
  margin-top: 0;
}

.site-info a {
  width: 140px;
}

.site-info li:nth-child(2) a {
  width: 80px;
  margin-left: 10px;
}

.site-info a:hover,
.site-info a:focus {
  text-decoration: underline;
}

.site-info a:active {
  opacity: 0.5;
}

.contacts-footer .address {
  color: #f3f7f9;
  background-color: #32425c;
}

.site-info a {
  color: #ffd180;
  background-color: #32425c;
}

.bottom-footer {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.bottom-footer .container {
  display: flex;
  justify-content: space-between;
}

.license {
  width: 230px;
  margin-right: auto;
}

.developers {
  color: #ffffff;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 136px;
  margin: 0 auto 0 110px;
  padding: 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  min-height: 42px;
  color: #ffffff;
  background-color: #212a3a;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  background-color: #ee3643;
}

.footer-feedback {
  width: 140px;
  margin-left: 120px;
}

.footer-copyright {
  width: 140px;
  margin-left: 20px;
}

.footer-feedback a,
.footer-copyright a {
  color: #ffd180;
}

.developers a:hover,
.developers a:focus {
  text-decoration: underline;
}

.developers a:active {
  color: #ee3643;
}
