body {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.inner-page {
  margin: 0;
  padding: 0;
  
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

/*хедер*/
/* хедр верх */

.main-header {
  background-color: #f4f7f9;
}

.navigation {
  padding-top: 14px;
  padding-left: 130px;
  background-color: #293449;
}

.main-header-logo {
  padding: 13px 56px 15px 55px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  display: block;
}

.main-header-logo:hover,
.main-header-logo:focus {
  background-color: #ca2c37;
}

.main-header-logo:active {
  background-color: #ba2732;
}

.make-order p {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.make-order a {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.make-order a:hover,
.make-order a:focus {
  background-color: #212a3a;
}

.make-order a:active {
  background-color: #161d29;
  opacity: 0.6;
}

.make-order-button {
  padding: 14px 22px 13px 20px;
  background-color: #63a63e;
}

.make-order-button:hover,
.make-order-button:focus {
  background-color: #5fbb2d;
}

.make-order-button:active {
  background-color: #518534;
  opacity: 0.5;
}

/* хедер центр */

.site-title {
  width: 196px;
  height: 60px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
  background-color: #f4f7f9;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.contacts-header .phone-number {
  width: 264px;
  height: 39px;
  font-size: 21px;
  line-height: 21px;
  text-align: left;
  color: #ee3643;
  background-color: #f4f7f9;
  border: 3px solid #ffffff;
}

.contacts-header .address {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425c;
  background-color: #f4f7f9;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.user-navigation a {
  font-size: 21px;
  line-height: 21px;
  padding: 14px 25px 11px 25px;
  color: #000000;
  background-color: #ffffff;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.user-navigation a:active {
  opacity: 0.3;
}

/* хедер каталога */

.username {
  font-size: 21px;
  line-height: 21px;
  padding: 14px 25px 11px 25px;
  color: #000000;
  background-color: #ffffff;
}

.username p {
  color: #000000;
  background-color: #ffffff;
}

/* .username p::before {
  content: url(img/icon-user.svg);
  color: #000000;
  background-color: #ffffff;
}

.username a:hover,
.username a:focus {
  color: #000000;
  background-color: #ffffff;
  opacity: 1;
} */

.user-id .button {
  font: inherit;
  text-align: center;
  color: #32425c;
  vertical-align: middle;
  background-color: #f4f7f9;
  text-decoration: underline;
  border: none;
}

/* .user-id .button:hover,
.user-id .button:focus {
  color: #ee3643;
  background-color: #f4f7f9;
}

.user-id p:active,
.user-id a:active  {
  opacity: 0.3;
} */

/* хедер навигация */

.main-navigation .site-navigation {
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
  /* padding-top: 22px;
  padding-bottom: 26px;  
  display: flex;
  justify-content: space-around; */
}

.site-navigation a {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #32425c;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: 293449; 
}

.site-navigation a:active {
  opacity: 0.5;
}

.site-navigation a:active {
	
}

/*майн главной*/
/* майн низ */

.about-company h2,
.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-company a,
.contacts a {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
}

.about-company p,
.contacts p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

.about-company li {
  font-size: 18px;
  line-height: 20px;
  /* list-style: none; */
}

/*майн каталога*/

button {
  font: inherit;
}

label {
  text-transform: uppercase;
}

.old-price {
  text-decoration: line-through;
}

.breadcrumbs {
  font: inherit;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
}

.breadcrumbs a {
  color: #000000;
  background-color: #ffffff;
}

.inner-page h1 {
  text-transform: uppercase;
  color: #32425c;
  background-color: #f2f6f8;
}

.product-information {
  background-color: #f2f6f8;
}

.product-information p:first-child {
  text-transform: uppercase;
}

/*футер*/

.main-footer {
  font: inherit;
  background-color: #32425c;
}

.footer-address a {
  padding: 20px 41px 25px 41px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  display: block;
}

.main-footer-logo {
  width: 138px;
  height: 23px;
}

.site-navigation-footer,
.site-info {
  list-style: none;
}

.site-navigation-footer a {
  color: #f1f5f7;
  background-color: #32425c;
}

.site-navigation-footer a:hover,
.site-navigation-footer a:focus {
  text-decoration: underline;
}

.site-navigation-footer a:active {
  opacity: 0.5;
}

.site-info a:hover,
.site-info a:focus {
  text-decoration: underline;
}

.site-info a:active {
  opacity: 0.5;
}

.contacts-footer .address {
  color: #f3f7f9;
  background-color: #32425c;
}

.site-info a {
  color: #ffd180;
  background-color: #32425c;
}

.bottom-footer {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.developers {
  color: #ffffff;
}

.social {
  list-style: none;
}

.social-button {
  color: #ffffff;
}

.footer-feedback a,
.footer-copyright a {
  color: #ffd180;
}

.developers a:hover,
.developers a:focus {
  text-decoration: underline;
}

.developers a:active {
  color: #ee3643;
}